* {
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  margin: 0;
}
.conteiner {
  width: 1480px;
  box-sizing: border-box;
  margin: 0 auto;
}
.link {
  padding: 63px 0 38px;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #000000;
}
.link {
  margin-left: 100px;
  display: block;
}
span {
  color: deepskyblue;
}

.nav{
  display: inline;
}
.list-iteam  {
  display: inline-block;
}
.list-iteam a {
  padding: 25px 40px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid black;
}
.list-iteam a:hover {
  background: #222f3a;
}
.list {
  margin: 48px 98px;
  /* border: 1px solid black; */
  padding: 26px 10px;
  background: #35444f;
  display: flex;
}

.iteam {
  padding: 0 60px;
  background: #35444f;
}

.list-iteam-2 a {
  width: 100%;
  padding: 26px 0 26px 38px;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}
.list-iteam-2 {
  display: flex;
}
.list-iteam-2 a:hover {
  background: #dbdbdb;
}
.list-2 { 
  margin: 0 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 344px;
  height: 399px;
}
.nav{
  width: 344px;
  height: 399px;
}
.img:hover {
  background: url(../img/1.png);
  transform: scale(1.2);
}
.img-2 {
  overflow: hidden;/* приховуе все за контуром  */
  margin-right: 100px;
  float: right;
  width: 885px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.main {
  text-align: right;
}
.paragraph {
  margin: 17px 100px;
  padding: 10px 11px 34px;
  width: 885px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  text-align: center;
}
.paragraph {
  
  display: inline-block;
}
.text {
  display: inline;
}
.list-iteam-3 a {
  padding: 0 11px;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.list-3 {
  padding: 20px 4px;
  margin: 0 100px;
  width: 1280px;
  background: rgba(99, 105, 110, 0.48);
  display: flex;
}
.list-iteam-3 a:hover {
  color: #3181a6;
  text-decoration: underline;
}
.text-2 {
  padding-left: 209px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* padding: 0 0 0 135px; */
}
.menu {
  margin-bottom: 40px;
}
