* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


form {
    display: flex;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 12px;
}

.wrapper {
    width: calc(50% - 20px);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}


label {
    margin: 15px 0 5px;
    font-size: 14px;
    color: grey;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 3px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 10px;
    position: relative;
    font-family: sans-serif;
}

.card h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card p {
    color: gray;
}
