.content {
  display: grid; /* делает двух мерную сетку  */
  /* grid-auto-flow: row; распологает все в одном ряду  */
  /* grid-auto-flow: column; делает все в одну колонку */
  /* grid-template-columns: 200px 200px; отвечает за колонки  */
  grid-template-columns: min-content max-content;
  /* grid-template-rows: 150px 200px; отвечает за ряди  */
  grid-template-rows: minmax(150px, auto) minmax(min-content, 200px);
  grid-auto-rows: 150px 200px;
  /* gap: 20px 15px;  отвечает за отступи от ячеяк  */
  row-gap: 20px; /* отступ между рядами */
  column-gap: 15px; /* отступ между колонками  */
  /* grid-template-columns: repeat(4, 200px); повторяет 4 раза по 200пкс */
  grid-template-areas:
    "item1 item1 item2 ."
    "item1 item1 item2"
    " . . . ."; /* имена областей  */
}
.item {
  background: rgb(196, 29, 29);
  color: rgb(0, 0, 0);
}
.item_one {
  /* grid-column-start: 2;
  grid-column-end: 3; */
  /* grid-column: 2/3; можно объединить в одно замесь srart i end */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2/4; */
  /* grid-area: grid-column-start / grid-column-end / grid-row-start / grid-row-end ; */
  /* grid-area: 2 / -3 / 4 / 3;  тоже самое что и grid-column-start / grid-column-end / grid-row-start / grid-row-end ; */

  grid-area: item1;
}
.item_two {
  grid-area: item2;
}
