.container {
  padding-top: 46px;
  padding-bottom: 211px;
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  position: sticky;
  top: 10px;
  background: fixed url(../img/header.jpeg) no-repeat;
}
.indent {
  margin: 0 230px;
}
.link {
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
  color: rgba(228, 181, 100, 1);
  background: black;
}

.header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-bottom: 128px;
}

.number-2 {
  padding: 18px;
  padding-left: 840px;
  color: rgba(255, 255, 255, 1);
}
.number {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(214, 175, 118, 1);
}
.img {
  padding-right: 10px;
}
.img_2 {
  padding: 9px 0 8px;
}
.block {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  width: 467px;
  height: 468px;
  color: #ffffff;
  background: #634f2c;
}
.box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  text-align: center;
}

.box_block1,
.box_block2,
.box_block3 {
  grid-area: span 1 / span 2;
}
.box_block4,
.box_block5 {
  grid-area: span 3 / span 3;
}
.box_block1 {
  padding: 220px 140px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background: #634f2c;
}
.box_block2 {
  padding: 206px 43px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background: #b4a385;
}
.box_block3 {
  padding: 220px 139px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background: #e4b564;
}
.box_block4 {
  padding: 220px 160px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background: #635a4a;
}
.box_block5 {
  padding: 220px 233px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  background: #b08c4d;
}
h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.title {
  width: 1182px;
  padding: 41px 0;
  color: #ffffff;
}
.title_two {
  padding: 161px 0 94px;
}
.box_one {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: left;
  grid-template-areas:
    "block6 block6 block7 block7 block8 block8"
    "block6 block6 block7 block7 block8 block8"
    "block10 block10 block7 block7 block11 block11"
    "block10 block10 block9 block9 block11 block11"
    "block10 block10 block9 block9 block12 block12";
}

.box_one_block6 {
  grid-area: block6;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 113px 219px 52px;
  background: #0e0e0e;
}
.box_one_block7 {
  grid-area: block7;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 114px 345px 51px;
  background: #242424;
}
.box_one_block8 {
  grid-area: block8;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 44px 117px 186px 48px;
  background: #1f1f1f;
}
.box_one_block9 {
  grid-area: block9;
  padding: 47px 113px 333px 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  background: #e4b564;
}
.box_one_block10 {
  grid-area: block10;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 56px 113px 479px 52px;
  background: #1f1f1f;
}
.box_one_block11 {
  grid-area: block11;
  padding: 44px 117px 244px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background: #0e0e0e;
}
.box_one_block12 {
  grid-area: block12;
  padding: 44px 117px 208px 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;

  background: #0a0909;
}
.footer {
  padding: 172px 230px 72px 230px;
  margin-top: 191px;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.fod {
  justify-content: center;
  align-items: center;
}
.fon {
  position: sticky;
  top: 0;
  background: fixed url(../img/parallax.jpeg);
}
.title_one {
  padding: 41px 0;
}
.link-2 {
  margin-top: 32px;
  width: 180px;
  height: 50px;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
  color: rgba(228, 181, 100, 1);
  text-align: center;
}
.wrapper {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 468px);
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7 {
  width: 468px;
  height: 391px;
}

.item:hover .text {
  display: inline;
  top: 0;
}
.text {
  /* padding: 16px 100px 0 100px; */
  bottom: 0;
  display: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.span{
  font-weight: 200;
}
.img-2 {
  background: #634f2c;
}
.img-3 {
  background: rgba(232, 210, 171, 0.76);
}
.img-4 {
  background: #e4b564;
}
.img-5 {
  background: #635a4a;
}
.img-6 {
  background: #b08c4d;
}
.img-7 {
  background: #634f2c;
}
