.block {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.block:nth-child(2n) {
  background-color: black;
}
.wrapper {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid black;
}
.block:nth-child(16)::after{
  font-size: 80px;
  color: aliceblue;
  position: absolute;
  content: "♔";
}
