.container {
    display: grid;
    grid-template-areas:
"header header"
"sidebar content";
    grid-gap: 10px;
    grid-template: repeat(2, 1fr) / repeat(3,1fr);
    /*тоже самое*/
    /*grid-template-columns: 150px 1fr;*/
    /*grid-template-rows: 50px  1fr ;*/

    /*grid-template-columns: 1fr 1fr;*/
    /*grid-auto-rows: ; позволяет задать шаблон для строк */
    /*grid-column-gap: 10px ; !*позволяет задать отсупи  между колонками *!*/
    /*grid-row-gap: 10px; !*тоже самое що и сверху*!*/
    /*можно записать коротко */
    /*grid-gap: 10px;*/
    /*grid-auto-rows: minmax(100px,auto);*/
    /*justify-content: center; !*для виравниванья по оси X*!*/
    /*align-content: center; !*для виравниванья по оси Y*!*/
}

.iteam {
    padding: 10px;
    border: 1px solid black;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area:sidebar;
    align-self: start;
}
.content{
    grid-area: content;
}

/*.iteam_3 {*/
/*    !*justify-self: center;*!*/
/*    !*align-self: end;*!*/
/*    !*grid-column-start: 1;*!*/
/*    !*grid-column-end: 3;*!*/
/*    !*grid-row-start: 2;*!*/
/*    !*grid-row-end: 5;*!*/
/*    grid-column: 1/3;*/
/*    grid-row: 2/5;*/
/*}*/