@mixin with-block{
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #305db8;
}
.block{

&_one{
@include with-block;
}
  &_two{
    @include with-block;
  }

  &_three{
    @include with-block;
  }
  &_five{
    @include with-block;
  }
}