.block_one {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #305db8;
}
.block_two {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #305db8;
}
.block_three {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #305db8;
}
.block_five {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #305db8;
}

/*# sourceMappingURL=style.css.css.map */
