 *{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(4, 1fr);

}
.container div{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: #0c1927;
}

.container div button {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 27px;
    height: 27px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
}
.container div button:hover {
     opacity: 1;
 }

.container div button::before,
.container div button::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.container div button::before {
    transform: rotate(45deg);
}

.container div button::after {
  
    transform: rotate(-45deg);
}
