@import "variables";
@import "mixin.css";

body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.menu {
  color: #4E4E4E;
  max-width: 100%;

  & ul {
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    list-style-type: none;

    li {
      margin: 41px 17px;

    }
  }

  & ul > li:hover {
    color: #57A4A4;
  }
}

.img {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

.main {
  position: relative;
  padding: 69px 0;

  & h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
}

.post {
  display: flex;
  padding: 17px 0;

  & h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
  }

  & div {
    box-sizing: border-box;
    max-width: 404px;
    margin-left: 21px;

    & h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #4E4E4E;
    }

    & p:nth-child(2) {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #7C7C7C;
      margin-top: 13px;
    }

    & p:nth-child(3) {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
      margin-top: 13px;
    }
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.latest {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  left: 0;
  height: 468px;
  background: rgba(0, 0, 0, 0.03);


  & div{
    margin: 0 45px;

    & div:nth-child(1) {
      display: flex;
      max-width: 1200px;

      & > h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4E4E4E;
        margin-right: 736px;

      }

      & > h2 {
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4E4E4E;
      }
    }

    & div:nth-child(2) {
      max-width: 100%;
      box-sizing: border-box;
      & img{
        max-width: 200px;
      }
    }
  }
}

@media(max-width: 768px) {
  .img {
    padding: 0 90px;
  }
  .main {
    margin-left: 90px;
  }
  .posts {

    grid-template-columns: repeat(1, 1fr);
  }

  .latest {
   & div  {

     & div:nth-child(1) {
       & h1 {
         margin-right: 334px;
       }
     }
     & div:nth-child(2) {
       & img{

         //height: 250px;
       }
       & img:nth-child(4){
         display: none;
       }
     }
   }
  }

}

