/* .item {
  width: 300px;
  height: 300px;
  background: red;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #000;
  transition-duration: 1s, 2s ;    время за которое изменяеться значений свойств
  transition-property: box-shadow, background ;  что будет анимируваться
  transition-timing-function: ease;
  transition-delay: 1s; зaдержка при наведении 
   тоже самое 
   transition: box-shadow 1s ease 0.1s,background  2s ease 0.1s;
}

.item:hover{
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px #000;
} */

/* .item {
  width: 300px;
  height: 300px;
  background: red;
  margin: 0 auto;
transition: transform 1s;
perspective-origin: center;
perspective: 400px;
 transform-origin: 30px 20px ;  X Y отвечает за точку относительно которой происходить трансформация 
}
.containre:hover .item{
  transform: rotateX(45deg);
  transform: translateX(100px);
  transform: translateY(100px);
  или 
  transform: translate(100px, 100px); перемещает блок
  transform: scaleX(1.5);   увеличивает на 1.5 по оси X
  transform: scaleY(1.5);
  или 
  transform: scale(0.5);
  transform: rotate(40deg);  поворачивает на 40 градусов
  transform: skewX(1deg);
  transform: skewY(50deg);
  или
  transform: skew(15deg, 15deg);  наклон
  transform: matrix(1.5, 0, 0.54, 1, 0, 0);  первое значение изменения размеров по оси X анало scaleX, второе наклон по вертикале значение должно находиться в диапозоне от 0 до 1, третие наклон по горизонтале значение от 0 до 1, четверте изменения размеров по оси Y, пятое и шестое це здвиги по X Y
  transform: scale(0.5) rotate(20deg);

} */

/* .item {
  width: 300px;
  height: 300px;
  background: red;
  animation-name:animation-up ;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-name:animation-up ; название анимаций которой ми хочем виполнить 
  animation-duration: 6s;  длительность анимации
  animation-direction: reverse; изменяет хот анимации alternate туда сюда
  animation-delay: 1s;  задержка при виполнении анимации
  animation-iteration-count: infinite; сколько раз должна повторюваться анимация
  animation-play-state:paused ;  пауза анимации  по умолчанию rinning
  animation-timing-function: inherit;
} */
/* @keyframes animation-up {
  0% {
    margin-left: 0;
  }
  50%{
    margin-top: 100px;
  }
  100% {
    margin-top: 300px;
  }
} */

.item{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: khaki;
  transition: transform 1s;
  animation: animal 3s infinite linear, animal-2 3s infinite linear;
}
.container{
  perspective: 500px;
  transform: rotateX(45deg);
  transform-style: preserve-3d;
  transform: translateZ(100px);
  /* animation-name: animal, animal-2;  второе будет главнее */
}
@keyframes animal-2 {
  0% {
    /* transform: translateY(-1000px); */
    /* transform: rotateX(70deg);  */
    /* transform: translateZ(100px); */
    
  }

  100% {
    transform: rotateX(70deg);
 
   
  }
  
}
@keyframes animal {
  0% {

    transform: rotateX(70deg);
  }
 
  100% {
    transform: translateZ(-800px);
   
}
}
/* .container:hover .item{ */
  /* transform: translateZ(100px); */
   /* ось Z */
  /* transform: translate3d(20px, 15px, 100px);   X Y Z */
    /* transform: scale3d(1, 1, 0.7) rotate(50deg); */

    /* transform: rotate3d(1, 2, 1, 180deg); */

    /* transform: matrix3d(); */


/* } */