* {
  margin: 0;
  padding: 0;
  /* outline: none; */
}
body {
  background: no-repeat url(../img/fon.png);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo a {
  padding: 18px 79px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #ffffff;
}
.svg {
  float: right;
  display: flex;
  padding: 18px 79px;
}
.svg svg {
  fill: white;
  padding-right: 27px;
}
.svg a:hover span {
  color: rgba(1, 129, 63, 1);
}
.svg svg:hover {
  fill: rgba(1, 129, 63, 1);
}
.svg a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.svg-text {
  padding-top: 2px;
}
.logo a:hover {
  color: rgba(1, 129, 63, 1);
}
.exit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
}
.exit-log {
  position: relative;
  width: 444px;
  /* height: 584px; */
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.exit-text {
  padding: 31px 61px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  color: #434343;
}
.exit-text div {
  padding-right: 196px;
}
.exit-text a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.exit-text a:hover {
  color: #01813f;
  text-decoration: underline;
}
.block {
  top: 29px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
.web {
  display: flex;
  justify-content: center;
}
.fb {
  padding-right: 8px;
}
.fb button {
  width: 157px;
  height: 46px;
  background: #305db8;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  border: 0;
  color: #ffffff;

  border-radius: 3px;
}
.fb button:hover {
  background: #022263;
}
.fb hr {
  transform: rotate(0deg);
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 28px;
  margin-right: 18px;
}
.fb svg {
  padding: 0 18px;
}

.gl button {
  width: 157px;
  height: 46px;
  background: #df4a32;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  /* padding-right: 18px; */
}
.gl button:hover {
  background: #ab1f09;
}
.gl hr {
  transform: rotate(0deg);
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 28px;
  margin-right: 30px;
}
.gl svg {
  padding-left: 12px;
  padding-right: 8px;
}
.line::after,
.line::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 152px;
  height: 1px;
  vertical-align: middle;
  background: #f2f2f2;
}
.line {
  padding: 32px 61px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #848484;
}
.form {
  display: flex;
}
form {
  padding: 0 61px;
}
form input[type="text"],
input[type="email"],
input[type="password"] {
  width: 315px;
  height: 44px;
  border-radius: 4px;
  padding-left: 19px;
  margin-bottom: 15px;
  /* outline: none; */
  border: 1px solid #f2f2f2;
}
input:focus:not(input[type="checkbox"]) {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
form input[type="checkbox"] {
  /* opacity: 0.1; */
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  appearance: none;
}
form label {
  padding-left: 30px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
form span {
  color: rgba(60, 184, 120, 1);
}
input[type="checkbox"] {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  background: url(../img/checkbox_empty.svg);
}
input[type="checkbox"]:checked {
  width: 14px;
  height: 14px;
  background: no-repeat url(../img/Vector\ 1.svg);
  background-size: cover;
}
input[type="checkbox"]:checked + span {
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}
.buttom button {
  border: 0;
  padding: 16px 99px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 335px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
}
.buttom {
  /* display: flex; */
  padding: 20px 55px 38px;
  padding-top: 20px;
  padding-bottom: 38px;
}
.buttom button:hover {
  background: #01813f;
}
