*{
    margin: 0;
    padding: 0;
}
.none{
    display: none;
}
.back-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 0;
}

.modal {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-window{
    width: 300px;
    background: #e74c3c;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
    z-index: 2;

}
.modal-window h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #d34537;
}
.btn-close{
    position: absolute;
    border: none;
    background: none;
    color: white;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}
.btn-close:hover{
   opacity: 1;
}
.modal-window .ok, .close{
    background: #b3382c;
    border: none;
    padding: 10px;
}
