.wrapper{
    background: red;
    box-sizing: border-box;
}
.wrapper p {
    font-size: 30px;
    padding: 20px;

}
@media (min-width:320px ) and (max-width: 1200px) {
    .wrapper p{
        padding: calc(10px + (50 - 20) * ((100vw - 320px) / (1200 - 320)) );
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)) );
        /*перше минимальний размер шрифта друге изначальное значение отнимаеться от минимального  потім ми умножаем на наступна виражение перше ширина в'юпорта отнимаеться от минимальной ширини екрана и потім ми це ділим на ширину ограничивающего контейнера за вичетом опять  же 320 */
    }
}

