.css-modules {
  font-size: 14px;
  font-weight: bold;
  color: green;
}

.text-blue {
  color: blue;
}
.bold {
  font-weight: bold;
}
:global .text-red {
  color: red;
}

.selected {
  text-decoration: underline;
}
