<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>home pages : <%= name %></h1>
<h1>Name : <%= userName %></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi autem consequuntur cum cupiditate
    eligendi exercitationem hic illum, in ipsum, laborum obcaecati odio perspiciatis quasi reiciendis sed unde ut.</p>
</body>
</html>