.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); // auto-fill простой способ зробити адаптив в display: grid;
    gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}
.child{
    min-height: 200px;
    background-color: wheat;
}