

.page-header {
	border-bottom: 2px solid black;
	background-color: grey;
	padding: 10px 0;
}

.page-header h1 {
	margin: 0;
}

.body {
	display: flex;
}

.left-body {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

.right-body {
	width: 25%;
}

.product-card {
	width: 28%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.product-card img {
	max-width: 100%;
	max-height: 100px;
}