*{
    margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}
.form-wrapper {
  width: 50%;
}
.form {
  display: flex;
  flex-wrap: wrap;
  
}
.form [type="text"],
.form [type="email"] {
  background: rgba(17, 17, 17, 0.0001);
  border: 1px solid #929292;
  width: 48%;
  padding: 21px 14px 13px 14px;
  box-sizing: border-box;
}
.form [type="text"] {
  margin-right: 4%;
}
.textarea {
    padding: 21px 14px 13px 14px;
  background: rgba(17, 17, 17, 0.0001);
  border: 1px solid #929292;
  width: 100%;
  margin: 21px 0;
}
form [type="reset"],
form [type="submit"] {
  padding: 16px 40px;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  border: none;
  margin-right: 20px;
}
