<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About page: <%= name %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet at, dignissimos dolor dolorum ducimus enim
    error explicabo fuga harum illum incidunt ipsa laboriosam necessitatibus officiis omnis, quaerat quasi?</p>
</body>
</html>