*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none{
  display: none;
}
.back-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 0;
}

.modal {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.modal-window {
  width: 300px;
  background: #e74c3c;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  z-index: 2;


  & h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #d34537;
  }
 & .ok, .close{
    border: none;
    padding: 10px;
    margin: 0 5px 10px 5px;
    border-radius: 20px;
  }

}
.btn-close {
  position: absolute;
  border: none;
  background: none;
  color: white;
  top: 10px;
  right: 10px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
