.dropdown {
    width: 100px;
}

.default_option {
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.default_option li {
    padding: 10px 20px;
}

.default_option:before {
    content: "";
    position: absolute;
    top: 2px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
}

.default_option.active:before {

    transform: rotate(-225deg);
}

.select_ul {
    position: absolute;
    top: 104px;
    left: 0;
    width: 100px;
    background: #fff;
    border-radius: 5px;

}

.select_ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.select_ul li:hover {
    background: #fff4dd;
}