* {
  margin: 0;
  padding: 0;
}
.dws-wrapper {
  position: relative;
  width: 300px;
  height: 220px;
  overflow: hidden;  
  padding-bottom: 10px;
}

.dws-text  {
  position: absolute;
}

/* .dws-wrapper:hover .dws-text {
  bottom: 0;
} */
/* .img-text a:hover{
  color: rgba(242, 101, 34, 1);
} */
.block:hover .dws-text{
  bottom: 0;
}
.block:hover .img-text a{
  color: rgba(242, 101, 34, 1); 
}
.dws-text{
    width: 300px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: -40px;
    transition: 0.5s;
    background: red;
}
.block{
   display: inline;
   text-align: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
  position: absolute;
  padding: 10px;
}