* {
  margin: 0 auto;
  padding: 0;
}
.content {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background: center url(../img/background\ 1.png) no-repeat;
  position: relative;

  left: 15%;
  width: 1349px;
  height: 768px;
}
.white {
  /* width: 50px;
  height: 50px; */
  background: url(../img/logo3.png) no-repeat;
  color: #FFFFFF;
  /* display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap; */
}
.logo:hover .link {
  color: rgba(242, 101, 34, 1);
}
.logo:hover .white {

  color: rgba(242, 101, 34, 1);
  background-image: url(../img/logo2.png);
}
.logo {
  /* height: 50px; */
  display: flex;
  padding: 46px 165px 0;
  justify-content: center;
}
.tu{
  font-weight: 700;
font-size: 29px;
line-height: 29px;
display: flex;
align-items: center;

}
.header {
  display: flex;
  position: relative;
}
.email {
 height: 50px;
  text-align: right;
  padding-left: 705px;
}
.loge a {
  display: flex ;
  width: 50px;
  height: 50px;
  padding-left: 65px;
  flex-wrap: wrap;
  height: 50px;
}
.main {
  display: flex;
  justify-content: space-between;
  padding: 22px 102px;
}
.footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding: 90px 15px;
  
}
.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  align-items: center;
  color: #ffffff;
}
.dws-wrapper {
  position: relative;
  width: 300px;
  height: 220px;
  overflow: hidden;
  padding-bottom: 10px;
}

.dws-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #ffffff;
  position: absolute;
}

/* .dws-wrapper:hover .dws-text {
    bottom: 0;
  } */
/* .img-text a:hover{
    color: rgba(242, 101, 34, 1);
  } */
.block:hover .dws-text {
  bottom: 0;
}
.block:hover .img-text a {
  color: rgba(242, 101, 34, 1);
}
.dws-text {
  width: 300px;
  height: 55px;
  left: 3px;
  right: 0;
  bottom: -55px;
  display: flex;
  justify-content: left;
  padding-right: 10px;
  transition: 0.5s;
  background: red;
}
.dws-text p {
  padding-left: 128px;
}
.dws-text h3 {
  padding: 8px 0 12px 16px;
}
.span {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: #ffffff;
}
.block {
  width: 300px;
  height: 220px;
  display: inline;
  padding: 0 61px 78px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 61px;
  grid-row-gap: 78px;
}
.text {
  position: absolute;
  padding: 20px 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.block p::after {
  content: url(../img/Vector1.png);
  padding: 31px 16px 0;
}
