form {
  width: 575px;
  border: 1px solid green;
  margin: 0 auto;
  padding: 48px;
}
form p {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}
form p span {
  color: gold;
}
form input[type="text"],
form input[type="email"] {
  background: #f9faff;
  border: 1px solid #dee6ff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 24px;
  width: 100%;
}
form input[type="submit"] {
  background: #5380ea;
  border: 1px solid #5380ea;
  box-shadow: 0 10px 34px rgba(83, 128, 234, 0.5);
  border-radius: 40px;
  padding: 16px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 24px;
}
form input:required:valid {
  border-color: green;
}
form input:required:invalid:not(:placeholder-shown) {
  border-color: red;
}
