body,html{
  height: 100%;
  margin: 0;
}
.main-content{
  display: grid;
  grid-template-columns: 40% 29% 31%;
  grid-template-rows: 10% 30% 10% 10% 40%;
  height: 100%;
  grid-template-areas: 
  "nav blog cosmetics"
  "picture blog cosmetics"
  "picture about cosmetics"
  "picture about review"
  "picture perfumes review";
}

.item{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-nav{
  display: block;
grid-area: nav;
}
.item-blog{
  grid-area: blog;
}
.item-cosmetic{
  grid-area: cosmetic;
}
.item-main-picture{
  grid-area: picture;
}
.item-about-person{
  grid-area: about;
}
.item-review{
  grid-area: review;
}
.item-perfumes{
  grid-area:perfumes;
}
.nav-list{
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.nav-list a{
  text-decoration: none;
}