* {
  margin: 0 auto;
}
body {
  background: no-repeat
    url(../img/1625208360_39-kartinkin-com-p-zvezdnie-voini-fon-krasivie-foni-44.jpg);
  background-size: cover;
  overflow: hidden;
}

.block__wrapper {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  width: 900px;
  transform: rotateX(30deg);
  margin-top: 200px;
  perspective: 400px;
  /* animation-name:  animation-up2 30s; */
  animation-iteration-count: infinite;
  /* animation-timing-function: unset; */
  
}
.text {
  text-align: center;
  margin: 50px;
}
.text-2 {
  margin-top: 30px;
}
.block {
  position: absolute;
  font-size: 60px;
  perspective: 400px;
  transform: rotateX(70deg);
  color: yellow;
  /* animation-name:animation-up 1s,animation-up2 ;  название анимаций которой ми хочем виполнить  */
  animation: animation-up 30s infinite linear, animation-up2 30s infinite linear;
  /* animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* animation-direction: initial; */
}



@keyframes animation-up2 {
  0% {
    transform: translateY(-1000px);
    transform: rotateX(70deg);   
    /* transform: translateZ(100px); */
    
  }

  50% {
    /* transform: rotateX(70deg); */
 
    
  }
  
}
@keyframes animation-up {
  0% {

    transform: rotateX(70deg);
  }
 
  95% {
    transform: rotateX(70deg);
    transform: translateZ(-1900px);
    display: none
  }
    100% {
      transform: translateZ(-2000px);
    }

   

}