    .check + label::before{
        content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      /* flex-shrink: 0;
      flex-grow: 0; */
      border: 1px solid #adb5bd;
      border-radius: 2px;
      margin-right: 1px;
      background-repeat: no-repeat;
      /* background-position: center center; */
      /* background-size: 50% 50%; */

    }