.wrapper {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.main__editor {
  max-width: 906px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.main__editor h5 {
  margin-top: 129px;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #635C73;
}
.main__editor p:nth-child(2) {
  margin-top: 35px;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
}
.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin-top: 13px;
  margin-bottom: 70px;
  box-sizing: border-box;
}
.main__btn div:nth-child(1) {
  grid-area: a;
}
.main__btn div:nth-child(2) {
  grid-area: b;
}
.main__btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 365px;
}
.main__btn button {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid black;
  margin: -1px;
}
.main__btn button svg {
  margin-right: 3px;
  margin-top: 3px;
}
.main__btn span {
  border: 1px solid black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 10px;
}
.main__btn span p {
  margin: 0;
  font-weight: 900;
  font-size: 9px;
  line-height: 21px;
  padding: 0 5px;
}
.main__back {
  background: #F4F4F4;
  padding-bottom: 33px;
}
.main__get {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 34px;
  box-sizing: border-box;
}
.main__get div:nth-child(1) {
  margin-top: 50px;
}
.main__get .get-logo {
  grid-column-start: 2;
}
.main__get .get-logo h1 {
  margin: 94px 18px 0 18px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #8D81AC;
}
.main__get .get-logo img {
  width: 100%;
}
.main__get .img-code {
  grid-row-start: 3;
  display: none;
}
.main__get .img-code img {
  width: 85%;
}
.main__item {
  box-sizing: border-box;
  margin-top: 34px;
  display: grid;
  grid-template-columns: 111px 1fr;
  margin-left: 30px;
  grid-column-start: 1;
}
.main__item h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}
.main__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
}
.footer__back {
  background: rgba(70, 48, 72, 0.84);
  font-family: "Montserrat", sans-serif;
}
.footer__back h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #FFFFFF;
  padding-top: 83px;
  margin-bottom: 112px;
}
.footer__prices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1200px;
}
.footer__prices div:nth-child(1) div button {
  margin-top: 20px;
}
.footer__subscription {
  background: rgba(255, 255, 255, 0.11);
  text-align: center;
  width: 257px;
  height: 457px;
}
.footer__subscription div div {
  padding: 36px 0;
  background: rgba(255, 255, 255, 0.06);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__subscription div h3 {
  margin: 30px 0 20px 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__subscription div h3 b {
  font-weight: 700;
}
.footer__subscription div hr {
  margin-top: 38px;
  width: 60px;
  height: 5px;
  background: #8D81AC;
  border: none;
}
.footer__subscription div p {
  margin: 30px 23px 20px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__subscription div h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__subscription div button {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 18px 48px;
  color: #FFFFFF;
  border-radius: 40px;
  mix-blend-mode: normal;
  border: none;
  background: rgba(255, 255, 255, 0.15);
}
.footer__subscription.active {
  width: 299px;
  height: 560px;
  background: rgba(70, 48, 72, 0.84);
}
.footer__subscription.active div div {
  padding: 43px 96px;
}
.footer__subscription.active div h3 {
  font-size: 82px;
  margin: 14px 0 16px 0;
}
.footer__subscription.active div p {
  margin-top: 40px;
  margin-bottom: 83px;
}

@media (min-width: 480px) and (max-width: 992px) {
  .footer__prices {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
  .footer div:nth-child(4) {
    margin-top: 71px;
  }
  .footer__back h1 {
    font-size: 42px;
  }
  .main__editor h5 {
    font-size: 42px;
  }
  .main__back {
    background: none;
  }
  .main__get div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  .main__get .get-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .main__get .get-logo h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #8D81AC;
  }
  .main__get .get-logo img {
    display: none;
  }
  .main__get .img-code {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main__get .img-code img {
    width: 100%;
  }
  .main__item {
    margin-right: 27px;
  }
}
@media (min-width: 310px) and (max-width: 481px) {
  .footer__prices {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 18px;
  }
  .footer__back h1 {
    font-size: 36px;
  }
  .main__editor h5 {
    margin: 129px 20px 0 20px;
    font-size: 26px;
  }
  .main__editor p:nth-child(2) {
    margin: 0 20px;
    font-size: 14px;
  }
  .main__btn div:nth-child(3) {
    top: 40px;
    position: absolute;
  }
  .main__back {
    background: none;
  }
  .main__get div:nth-child(1) {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
  .main__get .get-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .main__get .get-logo h1 {
    margin: 94px 47px 0 47px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #8D81AC;
  }
  .main__get .get-logo img {
    display: none;
  }
  .main__get .img-code {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main__get .img-code img {
    width: 100%;
  }
  .main__item {
    margin-right: 27px;
    display: block;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
