.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.list {
  display: flex;
  list-style: none;
}
.list-item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-right: 32px;
  color: #515151;
}
.active a {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background: #f0b80d;
  border: 1px solid #ffd24b;
  box-shadow: 0px 10px 34px #eac555;
  border-radius: 40px;

  color: #101010;
}
.main-list ul {
  list-style: none;
}
.main-list {
  height: 350px;
  overflow: hidden;
  position: relative;
}
.main-list::after {
  content: "";
  display: block;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main-list-item img {
  float: left;
  margin-right: 10px;
}
