//$red-darcnes: red;
//$green-back: green;
//.test{
//  width: 100px;
//  height: 100px;
//  background: $red-darcnes;
//  transition: 1s;
//  &:hover {
//    background: $green-back;
//  }
//  &:after {
//    content: "test text";
//  }
//  & > p{
//    color: yellow;
//    &:first-of-type{
//      color: #ffd24b;
//    }
//  }
//}
//
//
//.block_2{
//  width: 100px;
//  height: 100px;
//  background: springgreen;
//  transition: 2s;
//  &:hover{
//  //background: darken($green-back, 15); // перше значення це який колір друге на скількі відсотків зробити його темніше
//    background: lighten($green-back, 15); //робить колір світліше
//  }
//}

//друга частина

@mixin btn($border-width,$font-size,$color, $test-if:false) { // це функция яка приймає три аргументи
  border: $border-width solid yellow;
  font-size: $font-size;
  color: $color;
  @if $test-if{
    border-radius: 50%;
  }
}
.btn-1{
@include btn(1px,18px, pink, true)
}
.btn-2{
  @include btn(2px,20px, red)
}
.btn-3{
  @include btn(3px,22px, green)
}
.btn-4{
  @include btn(4px,24px, back)
}
//
//@mixin test{
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//.btn{
//  @include test
//}

//микси, стилі та Variables пишеться в отдельном файле


//третя частина  BEM Block-Element-Modifier
