.btn-1 {
  border: 1px solid yellow;
  font-size: 18px;
  color: pink;
  border-radius: 50%;
}

.btn-2 {
  border: 2px solid yellow;
  font-size: 20px;
  color: red;
}

.btn-3 {
  border: 3px solid yellow;
  font-size: 22px;
  color: green;
}

.btn-4 {
  border: 4px solid yellow;
  font-size: 24px;
  color: back;
}

/*# sourceMappingURL=style.css.map */
