* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none {
  display: none;
}
.wrapper{
  z-index: 1;
}

.back-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 0;
}

.modal {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-window {
  width: 300px;
  background: #e74c3c;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  z-index: 2;


  & h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #d34537;
  }

  & .ok,
  .close {
    border: none;
    padding: 10px;
    margin: 0 5px 10px 5px;
    border-radius: 20px;
  }

}

.btn-close {
  position: absolute;
  border: none;
  background: none;
  color: white;
  top: 10px;
  right: 10px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.Cards {
  margin-top: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  width: 1500px;

}

.Card {
box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  border: 0.5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
}

.Card img {
  width: 200px;
}

.basket,
.selected {
  margin-top: 30px;
  text-align: center;
  width: 300px;
  // height: 100%;
  border: 1px solid black;
  border-radius: 20px;

}

.basket img {
  width: 20px;
}

.selected img {
  width: 20px;
}

.add-selected {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
}

.add-selected img {
  width: 30px;
}



.added{
  border: 1px solid black;
  font-size: 12px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
