body {
  background: #305db8;
  color: white;
  font-size: 2rem;
}

.block {
  display: flex;

  &-1 {
    width: 50px;
    height: 50px;
    background: #305db8;
  }

  &-2 {
    width: 100px;
    height: 100px;
    background: red;
  }

  &-3 {
    width: 200px;
    height: 200px;
    background: yellow;

  }

  &-4 {
    width: 300px;
    height: 300px;
    background: orange;
  }

  &-5 {
    width: 400px;
    height: 400px;
    background: #305db8;
  }

  &-6 {
    width: 500px;
    height: 500px;
    background: #305db8;
  }

  &-7 {
    width: 600px;
    height: 600px;
    background: #305db8;
  }

}