body {
  background: #305db8;
  color: white;
  font-size: 2rem;
}

.block {
  display: flex;
}
.block-1 {
  width: 50px;
  height: 50px;
  background: #305db8;
}
.block-2 {
  width: 100px;
  height: 100px;
  background: red;
}
.block-3 {
  width: 200px;
  height: 200px;
  background: yellow;
}
.block-4 {
  width: 300px;
  height: 300px;
  background: orange;
}
.block-5 {
  width: 400px;
  height: 400px;
  background: #305db8;
}
.block-6 {
  width: 500px;
  height: 500px;
  background: #305db8;
}
.block-7 {
  width: 600px;
  height: 600px;
  background: #305db8;
}

/*# sourceMappingURL=style.css.map */
