
img {
  max-width: 100%;
}

.show-results {
  position: absolute;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  padding: 1rem;
  width: 100%;
  border-radius: 6px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;

  &:empty {
    display: none;
  }
}