.wrapper {
  background-color: antiquewhite;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
}
.item {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.red {
  background: red;
}
.item_1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.item_2 {
  grid-column-end: span 3;
}
.item_6 {
  grid-area: span 2 / span 4;
}
.item_7 {
  grid-area: span 1 / span 2;
}
.item_8 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  /* або */
  grid-area: 3 / 1 / 5 / 2;
}
.item_11 {
  grid-area: span 2 / span 2;
}
.item_12,
.item_13,
.item_15,
.item_17,
.item_18,
.item_22 {
  grid-column: span 2;
}
.item_20 {
  grid-area: 5 / 1 / span 3 / span 1;
}
.item_14 {
  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}
.item_16,
.item_19 {
  grid-area: span 2 / span 2;
}
