//* {
//  margin: 0;
//}

//.block{
//  display: inline-block;
//  //max-width: 1200px;
//}
//.btn {
//display: inline-block;
//background: red;
//width: 200px;
//max-width: 300px;
//height: 300px;
//margin: 0 auto;

//& p {
//  margin: 0;
//  text-align: center;
//  font-size: 10px;
//}
//}

//$random-color: red ; // переменая с цветом
//$with-block: 100px;
//
//@mixin text {
//  text-align: center;
//  height: 20px;
//  background: #6fac2f;
//}
@import "variables";
@import "mixin";

.header {
  @include text;
  height: calc(20px + 18 * (100vw / 1920));
  font-size: calc(18px + 16 * (100vw / 1920)); // меняет ширину текст зависимости от ширини єкрана

}


.footer {
  @include text;
}

.block {
  display: flex;
  margin: 0 auto;
  word-wrap: break-word;
  //max-width: 1200px;
}

.btn {
  display: inline;
  text-align: center;
  margin: 5px;
padding: 40px;
  //max-width: 500px;
  background: greenyellow;

}

.one {

  // width: ($with-block / 4); // математические операции якщо ви процюєте с процентами то ви не может відннять px
  color: $random-color;

}

@media(max-width: 767px) {
  .block{
    max-width: 900px;
    flex-direction: column;
  }
  .header {
    font-size: calc(18px + (16 + 16 * 0.7) * ((100vw - 320px) / 1920));

  }
}

//media запити

//@media screen and (max-width: 800px) { // name anu if(Breakpoints)  це для створення стилей под разний розмір екрану
//
//  .footer {
//    background: #0dc5c1;
//    color: #ffd24b;
//  }
//  .header {
//    color: #305db8;
//    background: purple;
//  }
//  .btn {
//    word-wrap: break-word;
//    max-width: 150px;
//    background: red;
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .footer {
//    background: pink;
//    color: fuchsia;
//  }
//  .header {
//    color: rebeccapurple;
//    background: purple;
//  }
//  .btn:not(.one) { // все кроме btn с класом  one
//    max-width: 200px;
//    background: yellow;
//  }
//}
