.header {
  text-align: center;
  height: 20px;
  background: #6fac2f;
  height: calc(20px + 0.9375vw);
  font-size: calc(18px + 0.8333333333vw);
}

.footer {
  text-align: center;
  height: 20px;
  background: #6fac2f;
}

.block {
  display: flex;
  margin: 0 auto;
  word-wrap: break-word;
}

.btn {
  display: inline;
  text-align: center;
  margin: 5px;
  padding: 40px;
  background: greenyellow;
}

.one {
  color: red;
}

@media (max-width: 767px) {
  .block {
    max-width: 900px;
    flex-direction: column;
  }
  .header {
    font-size: calc(18px + 27.2 * (100vw - 320px) / 1920);
  }
}

/*# sourceMappingURL=style.css.map */
